<nav><a href="/">homepage</a> | <a href="/location">location</a> | faq</nav>

<h1>{{ 'faq.header' | translate }}</h1>
Wann findet die Con statt?
Vom 26. - 29. Mai 2023 (Pfingsten)

Wo findet die Con statt?
Im Freizeitheim Wartenberg bei Witten in NRW. Dort haben auch schon die Cons 2012, 2014 und 2016, 2018 und 2021 stattgefunden.
Wieviel kostet die Con?
 Erwachsene:			120,00 Euro
 Teilnehmer bis 20 Jahre:	101,00 Euro
Teilnehmer bis 13 Jahre:	92,00 Euro
 Teilnehmer bis 6 Jahre: 	 83,50  Euro
Wo finde ich die Anmeldung? Wie läuft der Anmeldeprozeß ab?
Die Anmeldung findet Ihr als Formular auf der Website. Die Teilnahmebedingungen sind zu lesen, das Formular auszufüllen und an die dort benannte Adresse zu senden (postalisch oder elektronisch). Wenn die Anmeldung eingegangen ist und alles paßt, erhält man die Kontodaten für die Überweisung. Hat man diese korrekt getätigt, ist man korrekt angemeldet. (Der Stand dazu wird üblicherweise im Forum ab und zu aktualisiert.)
Kann man auch als Tagesgast kommen?
Ja, Tagesgäste sind willkommen. Bitte kontaktiert die Orga mit der Angabe an welchen Tagen und bei welchen Mahlzeiten ihr dabei sein werdet. Der Preis wird dann entsprechend für euch kalkuliert.
Wer ist die Orga?
Für 2023 haben sich mehrere Elfen / Trolle / Bewahrer bereitgefunden sich in verschiedene Orga-Aufgaben hineinzuteilen.

Muß man Bettzeug selber mitbringen?
Ja, muss man mitbringen. Schlafsäcke sind nicht erlaubt. Wenn jemand keine mitbringen kann, bitte rechtzeitig Bescheid, damit man was arrangieren kann.
Wird es Workshops und die üblichen Aktionen geben?
Ja, sofern sich Leute finden, die dort (mit)organisieren bzw. das leiten. Im Forum findet man den aktuellen Stand der Planung. ( http://vaterbaum.elfquest-con.de/index.php ) Dort dann zu passenden Unterforum wechseln.
Wie ist das mit Haustieren? Darf ich die mitbringen?
Das klärt man am besten mit der Orga. Bislang war es so, daß Tiere auf dem (Außen)Gelände zwar erlaubt sind, nicht jedoch in den Räumlichkeiten.
