<nav><a href="/">homepage</a> | <a href="/location">location</a> | faq</nav>

<h1>{{ 'faq.header' | translate }}</h1>

<h2>{{ 'faq.when.header' | translate }}</h2>
<p>{{ 'faq.when.text' | translate }}</p>

<h2>{{ 'faq.where.header' | translate }}</h2>
<p>{{ 'faq.where.text' | translate }}</p>

<h2>{{ 'faq.costs.header' | translate }}</h2>
<div>
  {{ 'faq.costs.adults' | translate }}:			120,00 Euro
</div>
<div>
  {{ 'faq.costs.youngAdults' | translate }}:			101,00 Euro
</div>
<div>
  {{ 'faq.costs.teens' | translate }}:			92,00 Euro
</div>
<div>
  {{ 'faq.costs.kids' | translate }}:			83,50  Euro
</div>

<h2>{{ 'faq.registration.header' | translate }}</h2>
<p>{{ 'faq.registration.text' | translate }}</p>

<h2>{{ 'faq.daytimeGuest.header' | translate }}</h2>
<p>{{ 'faq.daytimeGuest.text' | translate }}</p>

<h2>{{ 'faq.organizer.header' | translate }}</h2>
<p>{{ 'faq.organizer.text' | translate }}</p>

<h2>{{ 'faq.bedclothes.header' | translate }}</h2>
<p>{{ 'faq.bedclothes.text' | translate }}</p>

<h2>{{ 'faq.workshops.header' | translate }}</h2>
<p>{{ 'faq.workshops.text' | translate }}</p>

<h2>{{ 'faq.pets.header' | translate }}</h2>
<p>{{ 'faq.pets.text' | translate }}</p>
