<p>homepage | <a href="/location">location</a> | <a href="/faq">faq</a></p>

<h1>Willkommen zur 24. europäischen ElfQuest-Convention</h1>
<p>vom 26. - 29. Mai 2023 (Pfingsten) im Freizeitheim Wartenberg (Witten)!</p>

<div>Auch für das Jahr 2023 erschallt ein Ruf durch Wald, Wüste, über Steppen und Schneefelder:</div>
<div>"One tribe ★ one holt."</div>
<div>Entsprechend diesem Motto seid Ihr alle eingeladen in den Elfenhain zu kommen, zu lachen, zu tanzen und zu singen, Spiele zu spielen, herumzualbern, wettzueifern oder kreativ zu malen und schreiben.
Als ein Stamm, neu und alt, alle sind willkommen.</div>

<p>Viel Spaß auf der Seite der ElfQuest Con 2023 wünscht eure Orga</p>

<!-- en content -->
<div>Welcome to the 24. (22+2nd) German (Austrian, Swiss, Dutch) ElfQuest-Convention
from 26th - 29th of May, 2023 (Pentecost)
in the youth hostel Wartenberg near Witten (Germany)
Also for 2023 a call resounds through forests, deserts, over steppe and snowy plains:
"One tribe ★ one holt."
According to this slogan you all are invited to come to the elven holt, to laugh, to dance and sing, to play games, to clown around, to vie playfully, to be creative and paint or write poetry or stories.
As one tribe, new and old, everyone is welcome.

Enjoy the page for the ElfQuest Con 2023; Yours, the organization team</div>
