/* You can add global styles to this file, and also import other style files */
:root {
  --navBackgroundColor: #ffe292;
}

body {
  font-size: 150%;
  font-family: sans-serif;
}

p, div {
    text-align: justify;
}

nav {
  padding: 10px;
  background-color: var(--navBackgroundColor);
}
